.top-posters-container {
  // hide container before data is loaded to avoid weird-looking empty container
  display: none;

  margin-bottom: 15px;
  background-color: #e4facc;
  padding: 8px 8px 8px 15px;

  &.loaded {
    display: block;
  }

  header {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

ol.top-posters {
  letter-spacing: 1px;
  li {
    margin-top: 8px;
    font-weight: bold;
  }
}

.top-poster-link {
  letter-spacing: 0;
}

.btn-top-posters {
  background-color: #e4facc;
  padding: 0 0 4px 7px;

  &:hover, &:active, &:focus {
    background-color: #e4facc;
  }
}

.poster-username {
  margin-left: 6px;
  font-weight: normal;
}

.poster-posts-count {
  margin-left: 6px;
  padding: 4px 10px;
  color: #fff;
  background-color: #658443;
  font-weight: normal;
  letter-spacing: 0;
}